.longHoursLabelContPersp {
  perspective:1000px;
}

.longHoursLabel3D {
  transform-style:preserve-3d;
  backface-visibility:visible;
  position:relative;
}

.longHoursUserSettingsMenuItemImg {
  position:absolute;
  height:1em;
  right:0.2em;
  bottom:calc(10% + 0.2em);
  margin:0;
  z-index:100;
  opacity:1;
  filter:saturate(0%);
  border:1px solid rgba(0,0,0,0);
  transition:box-shadow 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, filter 0.2s ease-in-out, border 0.2s ease-in-out;
}

a.active .longHoursUserSettingsMenuItemImg {
  right:0.2em;
  bottom:calc(10% + 0.2em);
  filter:saturate(100%) !important;
  border:1px solid rgba(0,0,0,0.25);
}
